.button {
    display: block;
    width: 100%;
    font-size: 0.7rem;
    border: none;
    color: $color-text;
    background: $color-button;
    padding: 5px 10px;
    margin-bottom: 0.5rem;

    &:hover {
        background: $color-button-hovered;
        cursor: pointer;
    }
    &:active {
        background: $color-button-active;
    }
}
