.menubutton {
    border: none;
    color: $color-text;
    background: $color-button;
    padding: 5px 10px;
    border-left: 1px solid black;

    &:hover {
        background: $color-button-hovered;
        cursor: pointer;
    }
    &:active {
        background: $color-button-active;
    }
}
