.radio {
    display: block;
    margin: 5px 0;
}

.radio--input {
    margin-right: 5px;
    display: none;
    width: 0;
    height: 0;

    + span {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        &::before {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 0.5rem;
            content: "";
            background: $color-frame-bg;
            border-radius: 50%;
        }
    }

    &:checked + span::after {
        content: "";
        position: absolute;
        background: $color-check-mark;
        color: $color-check-mark;
        left: 0.25rem;
        width: 0.7rem;
        height: 0.7rem;
        margin-right: 0.5rem;
        border-radius: 50%;
    }
}

.radio:hover span::before {
    background: $color-frame-bg-hovered;
}

.radio--input:active span::before {
    background: $color-frame-bg-active;
}
