.tests-menu--content {
    top: 32px;
    bottom: 0;
    overflow: auto;
    padding: 0;
    min-width: 300px;
    > fieldset {
        border: none;
        > legend {
            font-weight: bold;
        }
        > a {
            display: block;
            color: $color-text;
            text-decoration: none;
            padding: 5px 10px;
            &.active-link {
                border: 1px solid $color-button-active;
            }
            &:hover {
                background: $color-button-hovered;
            }
        }
    }
}
